@import "reset.css";
@import "fontello.css";

html,
body {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    font-display: swap;
}

.center {
    padding: 0 calc(50vw - 570px);
}


.text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.heading {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #222222
}

.heading-mini {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.primary-color
{
    color: #F16D7F;
}


.heading-general {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.btn {
    height: 50px;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
    align-items: center;
    background:none;
}

.btn_primary {
    background-color: #F16D7F;
    color: #fff;
}

.btn_primary:hover {
    background-color: #E05C6E;
}

.btn_secondary_outline {
    border: 1px solid #A4A4A4;
    color: #000;
}

.btn_secondary_outline:hover {
    background-color: #A4A4A4;
}

.btn_small {
    height: 45px;
    font-size: 14px;
    padding: 13px;
}

.btn_padding_small {
    padding: 0 20px;
}

.header {
    display: flex;
    height: 75px;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: flex-end;
    grid-gap: 40px;
}

.header__right {
    display: flex;
    align-items: flex-end;
    grid-gap: 33px;
}

.content {
    flex: 1 0 auto;
}

.footer {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.footer__subscribe {
    background-image: url(../static/images/subscribe-cover.jpg);
    min-height: 450px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    flex:1;
}

.footer__avatar {
    border-radius: 50%;
}

.footer__blockquote {
    text-align: center;
    margin-top: 30px;
    justify-self: center;
    width: 360px;
    font-size: 20px;
    line-height: 24px;
}

.footer__form {
    min-width: 340px;
    flex:1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer__form__heading-mini {
    margin-top: 12px;
}

.single-form {
    margin-top: 30px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    width: fit-content;
}

.input-single {
    height: 50px;
    width: 250px;
    font-size: 14px;
    color: #222224;
    padding: 0 22px;
    border:none;
    background-color: #E1E1E1;
}

.footer__bottom {
    display: flex;
    background-color: #222224;
    height: 80px;
    justify-content: space-between;
    align-items: center
}

.footer__copyright {
    color: #fff;
    font-size: 16px;
}

.footer__social {
    display: flex;
    grid-gap: 7px
}

.social{
    width: 32px;
    height: 32px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.social:hover {
    background-color: #F16D7F;
    color: #fff;
}



.promo {
    background-color: #F1E4E6;
    position: relative;
}

.promo__center {
    display: flex;
    padding: 0 calc(50vw - 800px);
}

.promo__img {
    width: 100%;
}

.promo__left {
    width: 50%;
    z-index: 1;
}

.promo__left-background {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #f4f3f3;
    z-index: 0;
}

.promo__right {
    display: flex;
    align-items: center;
    padding-left: 64px;
    width: 50%;
}

.promo__content {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}

.promo__heading,
.promo__heading-general {
    text-transform: uppercase;
}

.promo__text {
    font-size: 32px;
    line-height: 38px;
}

.catalog {
    padding-top: 64px
}

.catalog__top {
    display: flex;
    grid-gap: 30px;
    justify-content: space-between;
}

.catalog__image {
    width: 100%;
}

.catalog__big {
    margin-top:30px;
    position: relative;
}

.catalog__item {
    position: relative;
}

.catalog__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog__deal {
    text-align: center;
    text-transform: uppercase;
    color: #fff
}

.feature {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #222222;
    padding-top: 105px;
    padding-bottom: 105px;
    align-items: center;
    margin-top: 95px;
}

.feature__item {
    width: 350px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.feature__heading {
    color: #fff;
    text-transform: none;
    font-size: 20px;
}

.feature__text {
    color: #FBFBFB;
    width: 300px;
}

.products-box {
    padding-top: 97px;
}

.products-box__header {
    text-align: center;
}

.products-box__heading {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-transform: none;
}

.products-box__text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.products-box__content {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.product {
    position: relative;
    width: 360px;
    background: #F8F8F8;
}

.product__bottom {
    margin-bottom: 30px;
}

.product:hover .product__image {
    filter: brightness(50%);
}

.product:hover .product__add {
    display: flex;
}

.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    color: #fff;
    border: 1px solid white;
    display: none;
}

.product__add__icon {
    width: 25px;
}

.product__info {
    padding: 24px 16px 20px;
}

.product__heading {
    color: #000;
    font-weight: 400;
}

.product__description {
    margin-top: 12px;
    margin-bottom: 18px;
}

.product__price {
    font-size: 16px;
    line-height: 19px;
}