@import "reset.css";

html,
body {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

a {
    color: #6F6E6E;
}

a:hover {
    color: #F16D7F;
}

.center {
    padding: 0 calc(50vw - 570px);
}


.text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.heading-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #F16D7F;
    text-transform: uppercase;
}

.heading-hr {
    width: 64px;
    height: 3px;
    background-color: #EF5B70;
    margin: 12px;
    border: none
}

.heading {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #222222
}

.heading-mini {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.primary-color {
    color: #F16D7F;
}


.heading-general {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.btn {
    height: 50px;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
    align-items: center;
    background:none;
}

.btn_primary {
    background-color: #F16D7F;
    color: #fff;
}

.btn_primary:hover {
    background-color: #E05C6E;
}


.btn_primary_outline {
    border: 1px solid #E05C6E;
    color: #E05C6E;
}

.btn_primary_outline:hover {
    background-color: #F16D7F;
    color: #fff;
}

.btn_primary_outline:hover path{
    fill: #fff;
}

.btn_secondary_outline {
    border: 1px solid #A4A4A4;
    color: #000;
}

.btn_secondary_outline:hover {
    background-color: #A4A4A4;
}

.btn_small {
    height: 45px;
    font-size: 14px;
    padding: 13px;
}

.btn_padding_small {
    padding: 0 20px;
}

.header {
    display: flex;
    height: 75px;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: flex-end;
    grid-gap: 40px;
}

.header__right {
    display: flex;
    align-items: flex-end;
    grid-gap: 33px;
}

.content {
    flex: 1 0 auto;
}

.footer {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.footer__subscribe {
    background-image: url(../images/subscribe-cover.jpg);
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    width: 50%;
    min-width: 360px;
    flex:1;
}

.footer__avatar {
    border-radius: 50%;
}

.footer__blockquote {
    text-align: center;
    margin-top: 30px;
    justify-self: center;
    width: 360px;
    font-size: 20px;
    line-height: 24px;
}

.footer__form {
    min-width: 360px;
    width: 50%;
    flex:1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer__form__heading-mini {
    margin-top: 12px;
}

.single-form {
    margin-top: 30px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    width: fit-content;
}

.input-single {
    height: 50px;
    width: 250px;
    font-size: 14px;
    color: #222224;
    padding: 0 22px;
    border:none;
    background-color: #E1E1E1;
}

.footer__bottom {
    display: flex;
    background-color: #222224;
    height: 80px;
    justify-content: space-between;
    align-items: center
}

.footer__copyright {
    color: #fff;
    font-size: 16px;
}

.footer__social {
    display: flex;
    grid-gap: 7px
}

.social{
    width: 32px;
    height: 32px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.social:hover {
    background-color: #F16D7F;
    color: #fff;
}



.promo {
    background-color: #F1E4E6;
    position: relative;
}

.promo__center {
    display: flex;
    padding: 0 calc(50vw - 800px);
}

.promo__img {
    width: 100%;
}

.promo__left {
    width: 50%;
    z-index: 1;
}

.promo__left-background {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #f4f3f3;
    z-index: 0;
}

.promo__right {
    display: flex;
    align-items: center;
    padding-left: 64px;
    width: 50%;
}

.promo__content {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}

.promo__heading,
.promo__heading-general {
    text-transform: uppercase;
}

.promo__text {
    font-size: 32px;
    line-height: 38px;
}

.catalog {
    padding-top: 64px
}

.catalog__top {
    display: flex;
    grid-gap: 30px;
    justify-content: space-between;
}

.catalog__image {
    width: 100%;
}

.catalog__big {
    margin-top:30px;
    position: relative;
}

.catalog__item {
    position: relative;
}

.catalog__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog__deal {
    text-align: center;
    text-transform: uppercase;
    color: #fff
}

.feature {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #222222;
    padding-top: 105px;
    padding-bottom: 105px;
    align-items: center;
    margin-top: 95px;
}

.feature__item {
    width: 350px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.feature__heading {
    color: #fff;
    text-transform: none;
    font-size: 20px;
}

.feature__text {
    color: #FBFBFB;
    width: 300px;
}

.products-box {
    padding-top: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-box__header {
    text-align: center;
}

.products-box__heading {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-transform: none;
}

.products-box__text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.products-box__content {
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 30px;
}

.product {
    position: relative;
    width: 360px;
    background: #F8F8F8;
}

.product:hover .product__image {
    filter: brightness(50%);
}

.product:hover .product__add {
    display: flex;
}

.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    color: #fff;
    border: 1px solid white;
    display: none;
}

.product__add__icon {
    width: 25px;
}

.product__info {
    padding: 24px 16px 20px;
}

.product__heading {
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.product__description {
    margin-top: 12px;
    margin-bottom: 18px;
}

.product__price {
    font-size: 16px;
    line-height: 19px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #f8f3f4;
}

.navbar__page-title {
    font-weight: 400;
}

.breadcrumb {
    list-style: none;
    display: flex;
}

.breadcrumb__item {
    text-transform: uppercase;
    color: #636363;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.breadcrumb__link {
    color: #636363
}

.breadcrumb__item:last-child {
    color: #F16D7F;
    font-weight: 400;
}

.breadcrumb__item:not(:first-child):before {
    content: "/";
    display: inline;
    padding: 0 5px;
    color: #636363;
}

.breadcrumb__link:hover {
    color: #F16D7F;
}

.filters {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.filter-menu {
    min-width: 360px;   
    flex-grow: 1; 
    position: relative;
}

.filter-menu:hover .filter-menu__body  {
    display: block;
}

.filter-menu__body {
    width: 360px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 13px 16px 16px;
    position: absolute;
    z-index: 1;
    top: -13px;
    display: none;
}

.filter-menu__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #636363;
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.filter-menu__title_active {
    color: #EF5B70;
}

.filter-menu__title_active path {
    fill: #EF5B70;
}

.filter-menu__category {
    color:#EF5B70;
    text-transform: uppercase;
    padding: 11px;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    margin-top: 16px;

}

.filter-menu__ul {
    list-style-type: none;
    font-weight: 400;
    padding: 0 18px;
}

.filter-menu__ul__item {
    margin-top: 11px;
}


.sort {
    display: flex;
    flex-grow: 2;
    grid-gap: 20px;
    padding-left: 30px;
}

.sort-params {
    position: relative;
}

.sort-params__title {
    text-transform: uppercase;
    color: #636363;
}

.sort-params__title:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-left: 10px;
    font-weight: 900;
}

.sort-params__body {
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 8px 30px 8px 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24px;
    left: -10px;
    z-index: 1;
}

.sort-params__field {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    font-size: 14px
}

.pagination {
    border: 1px solid #EBEBEB;
    height: 45px;
    border-radius: 4px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination__item {
    padding: 11px;
    font-size: 16px;
    font-weight: 300;
}

.pagination__link_active {
    color: #F16D7F;
}

.pagination__icon {
    color: #000;
}

.product-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 777px;
    padding-top:11px;
}

.product-slider__content {
    align-self: flex-start;
}

.product-slider__content img {
    z-index:0;
    
}

.product-slider__control {
    position: absolute;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(42, 42, 42, 0.15);
    color: #000;
    cursor: pointer;
}

.product-slider__control:hover i {
    color: #F16D7F;
}

.product-slider__control_left {
    left: 0;
}

.product-slider__control_right {
    right: 0;
}

.product-info {
    position: relative;
    display: flex;
    width: 1140px;
    padding: 0 250px;
    margin: 0 auto;
    border: 1px solid #EAEAEA;
    margin-top: -60px;
    background-color: #fff;
    z-index: 100;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.product-info__text {
    margin-top: 48px;
    text-align: center;
    font-size: 16px;
    color: #5E5E5E
}

.product-info__price {
    font-weight: 300;
    padding-top: 32px;
}

.product-info__section {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 65px 0;
    border-bottom: 1px solid #EAEAEA;
}

.product-info__section:last-child {
    border:none;
}

.product-info__add-to-cart {
    margin-top: 48px;
}